---
layout: default
title: Marcus' World
---

<ul id="posts" class="twelve columns offset-by-four">
  {% for post in site.posts %}
    <li>
      <a class="eight columns shake" href="{{ post.url }}">
        {% if {{post.category}} == "football" %}
          <i class="icon-bullhorn"></i>
        {% elsif {{post.category}} == "marketing" %}
          <i class="icon-money"></i>
        {% elsif {{post.category}} == "food" %}
          <i class="icon-food"></i>
        {% else %}
          <i class="icon-asterisk"></i>
        {% endif %} 
         {{ post.title }}
      </a>
      <span class="three columns">{{ post.date | date: "%b %d, %Y" }}</span>
    </li>
  {% endfor %}
</ul>