  <footer class="ten columns">

    <script>
      function prop()
      {
        _gaq.push(['_trackEvent', 'Props', 'Propped', document.title]);
      }
      
      var divSelected = null;
      function SelectOrUnSelect(x) {
        divSelected = document.getElementById(x);
        if (divSelected.className == 'icon-star-empty') document.getElementById(x).className = 'icon-star shake-on';
        else if (divSelected.className == 'icon-star shake-on') document.getElementById(x).className = 'icon-star-empty';
      }
    </script>

<!--     <p id='props'>
      Thanks for reading. Give it a <a onClick="prop();SelectOrUnSelect('star');"><i id="star" class="icon-star-empty"></i></a>?
    </p>
 -->
    <p id='copyright'>
      &copy Marketing Level: Over 9000 by Marcus Im
    </p>
  </footer>
