<!-- Logo Bulb -->
<ul id="side-nav">
  <li><a href="/" onClick="trackLink(this, 'Logo-Bulb', 'Clicked'); return false;"><i id="avatar"></i></a></li>
</ul>

<!-- Logo Name & Slogan -->
<ul id="side-nav">
  <li class="title"><a href="/" onClick="trackLink(this, 'Logo-Name', 'Clicked'); return false;">MLO9</a></li>
  <li>Consulting</li>
  <li>By <a href="http://linkedin.com/in/marcusim" target="_blank" onClick="trackLink(this, 'LinkedIn', 'Clicked'); return false;">Marcus Im</a></li>
</ul>

<!-- Social Nav -->
<ul id="side-nav">
  <li class="menu"><a href="/#about" target="_blank" onClick="trackLink(this, 'About', 'Clicked'); return false;">About</a></li>
  <li class="menu"><a href="/#services" target="_blank" onClick="trackLink(this, 'Services', 'Clicked'); return false;">Services</a></li>
  <li class="menu"><a href="/#pricing" target="_blank" onClick="trackLink(this, 'Pricing', 'Clicked'); return false;">Pricing</a></li>
  <li class="menu"><a href="/#contact" target="_blank" onClick="trackLink(this, 'Contact', 'Clicked'); return false;">Contact</a> <a href="mailto:marcus@MLO9.com" target="_blank" class="icon" onClick="trackLink(this, 'Mail-Icon', 'Clicked'); return false;"><i class="icon-envelope"></i></a></li>
  <li class="menu"><a href="/#testimonials" target="_blank" onClick="trackLink(this, 'Testimonial', 'Clicked'); return false;">Testimonials</a></li>
</ul>

<!-- Social Icons -->
<!--
<ul id="side-nav">
  <li class="icons"><a href="/#about" target="_blank" onClick="trackLink(this, 'About', 'Clicked'); return false;"><i class="icon-envelope-alt"></i></a></li>
  <li class="icons"><a href="/#services" target="_blank" onClick="trackLink(this, 'Services', 'Clicked'); return false;"><i class="icon-linkedin-sign"></i></a></li>
  <li class="icons"><a href="/#pricing" target="_blank" onClick="trackLink(this, 'Pricing', 'Clicked'); return false;"><i class="icon-facebook-sign"></i></a></li>
</ul>
 -->