body {
  margin-top: 20px;
  font-family: 'Open sans', sans-serif;
  font-size: 18px;
}

p {
  line-height: 28px;
}

h1,h2,h3,h4 {
  font-family: 'Droid Serif', serif;
  color: #423F37;
}

h1 { 
  font-size: 2em;
  line-height: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  padding-bottom: 0.4em;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

a {
  color: #825CA9;
  text-decoration: none;
}

a:hover {
  color: #825CA9;
  text-decoration: underline;
  cursor: pointer;
}

a:visited { 
  color: #47008F; 
}

#posts a {
  padding-bottom: 15px; 
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
}

#posts {
  font-size: 20px;
}

#posts a:hover {
  text-decoration: none;
}

#posts span {
  color: #999;
  text-align: right;
}

@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

@-o-keyframes spaceboots {
  0% { -o-transform: translate(2px, 1px) rotate(0deg); }
  10% { -o-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -o-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -o-transform: translate(0px, 2px) rotate(0deg); }
  40% { -o-transform: translate(1px, -1px) rotate(1deg); }
  50% { -o-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -o-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -o-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -o-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -o-transform: translate(2px, 2px) rotate(0deg); }
  100% { -o-transform: translate(1px, -2px) rotate(-1deg); }
}

@-moz-keyframes spaceboots {
  0% { -moz-transform: translate(2px, 1px) rotate(0deg); }
  10% { -moz-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -moz-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -moz-transform: translate(0px, 2px) rotate(0deg); }
  40% { -moz-transform: translate(1px, -1px) rotate(1deg); }
  50% { -moz-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -moz-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -moz-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -moz-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -moz-transform: translate(2px, 2px) rotate(0deg); }
  100% { -moz-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover, .shake:focus {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 1.5s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spaceboots;
  -moz-animation-duration: 1.5s;
  -moz-transform-origin:50% 50%;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: spaceboots;
  -o-animation-duration: 1.5s;
  -o-transform-origin:50% 50%;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}

.shake {
  display:inline-block
}

.sidebar > section {
  position: fixed;
  width: inherit;
}

.hidden {
  display: none; 
}

pre {
  margin: 0 0 20px 20px;
  font-size: 90%;
  font-family: Monaco, Consolas, monospace;
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}

.sidebar p {
  margin-bottom: 10px;
}

img {
  max-width: 70%;
  max-height: 400px;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}

article ul {
  margin-left: 20px;
}

article ul li {
	list-style: disc outside;
}

article ul li li {
	list-style: circle outside;
}

article ul li li li {
	list-style: square outside;
}

#avatar {
/*  background-image: url('/static/images/marcus.jpg');
  background-size: cover;
  height: 134px;
  width: 134px;
  display: block;
  border-radius: 50%;
  margin-bottom: 8px;
  border: 2px solid #999;
  opacity: 0.8;
  -webkit-transition:all 500ms ease-in;
  -moz-transition:all 500ms ease-in;
  -o-transition:all 500ms ease-in;*/
}

#top-nav li {
  display: inline-block;
  overflow: hidden;
}

#top-nav a, #top-nav a:visited {
  color: #999;
  -webkit-transition:color 200ms ease-in;
  -moz-transition:color 200ms ease-in;
  -o-transition:color 200ms ease-in;
}

#top-nav a:hover, #top-nav a:visited:hover {
  color: #47008F;
  text-decoration: none;
}

#social li {
  /*display: inline-block;*/
  /*font-size: 22px;*/
  overflow: hidden;
}

#social a, #social a:visited {
  color: #999;
  -webkit-transition:color 200ms ease-in;
  -moz-transition:color 200ms ease-in;
  -o-transition:color 200ms ease-in;
}

#social a:hover, #social a:visited:hover {
  color: #47008F;
  text-decoration: none;
}

#me li {
  /*font-size: 16px;*/
}

#me a, #me a:visited {
  color: #999;
  -webkit-transition:color 200ms ease-in;
  -moz-transition:color 200ms ease-in;
  -o-transition:color 200ms ease-in;
}

#me a:hover, #me a:visited:hover {
  color: #47008F;
  text-decoration: none;
}

#hello { 
  height: 140px;
  line-height: -150px; 
  color: transparent;
  margin-top: 120px;
  padding-bottom: 10px;
  -webkit-transition: all 1s ease; 
  -moz-transition: all 1s ease; 
  -o-transition: all 1s ease; 
}

#hello:hover { 
  line-height: 140px;
  color: #FFFFCC; 
}

#hello i {
  font-size: 140px;
  float: left;
}

#hello a, #hello a:visited {
  color: #999;
  -webkit-transition:color 200ms ease-in;
  -moz-transition:color 200ms ease-in;
  -o-transition:color 200ms ease-in;
}

#hello a:hover, #hello a:visited:hover {
  color: #47008F;
  text-decoration: none;
}

#boo {
  color: transparent;
  font-size: 10px;
  -webkit-transition:all 1s ease-in;
  -moz-transition:all 1s ease-in;
  -o-transition:all 1s ease-in;
}

#boo:hover {
  color: #999;
  font-size: 15px;
  padding-left: 25px;
  -webkit-transition:all 1s ease-in;
  -moz-transition:all 1s ease-in;
  -o-transition:all 1s ease-in;
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}

sup, sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
  font-size: 12px;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

.footnotes {
  font-size: 12px;
}

.footnotes p {
  margin-bottom: 0;
}

.footnotes a[rel=reference]{
  padding-left: 5px;
}

.intro {
  font-size: 1.25em;
  line-height: 1.3em;
  margin-bottom: 20px;
}

#follow {
  font-style: italic;
  font-size: 16px;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {
    .sidebar { display: none; } 
    #mobile { display: inline; } 

    #posts span {
      text-align: left;
      padding-bottom: 15px;
      font-size: 14px;
    }

    #posts a {
      padding-bottom: 5px;
    }
  }
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) { 
  }
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}

  @media only print {
    .sidebar { display: none; }
    #tweet { display: none; }

    .offset-by-four {
      padding-left: 0 !important;
    }

    #article-header {
      float: none !important;
      padding-left: 0 !important;
      display: block;
      margin: 0 auto;
      width: 700px !important;
    }

    #date-header {
      float: none !important;
      display: block;
      width: 700px !important;
      margin: 0 auto;
      margin-bottom: 20px !important;
    }

    #article-content {
      float: none !important;
      display: block;
      margin: 0 auto;
      width: 700px !important;
    }

    a {
      color: #999 !important;
    }
  }
	

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file 
		Just create a "fonts" folder at the root, 
		copy your FontName into code below and remove
		comment brackets */
		
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
