<a name='about'></a>
<h3>About MLO9</h3>
<p>
  Marketing Level: Over 9000 is the name of my independent consulting practice. The name and site are mostly for-fun - 'cause I figured I'd have a little fun while I do my work.
</p>
<p>
  I'm Marcus, and I've been doing digital marketing & growth-hacking (Ruby, mostly) for over 5 years now - everything from user acquisition to e-commerce to B2B. I'm a no bull-shit guy (no bull-shit consultant?!), and I'm looking for partners who take that same approach towards their work. Granted, that means most big businesses are out of the picture, but, meh, that works for me. I love the start-up world, where people live-and-die on great ideas and, most of all, hard work.
</p>
<p>
  Are you interested in working together? I'd love to talk about how we can make some magical shit happen. Feel free to <a href="mailto:marcus@mlo9.com" target="_blank" onClick="trackLink(this, 'Email-About', 'Clicked'); return false;">send me an email</a> - even if the rates are too high. I thrive on working with dynamic and smart people, so we'll figure something out.
</p>