<a name='contact'></a>
<h3>Contact MLO9</h3>
<p>
  Please reach out to me if you have any questions or would like to discuss potential work. Even if we don't end up working together, I'd like to meet you and talk about how you're changing the world. Nothing is more fun for me, except playing football.
</p>
<p>
  Unfortunately, ladies, I'm not accepting date-requests at the moment.
</p>
<p>
  You can reach me at any of these channels or use the form below:
  <ul id="contact-icons">
    <li><a href="mailto:marcus@mlo9.com" target="_blank" onClick="trackLink(this, 'Contact-Email', 'Clicked'); return false;"><i class="icon-envelope"></i></a></li>
    <li><a href="http://linkedin.com/in/marcusim" target="_blank" onClick="trackLink(this, 'Contact-LinkedIn', 'Clicked'); return false;"><i class="icon-linkedin-sign"></i></a></li>
    <li><a href="http://facebook.com/marcusim" target="_blank" onClick="trackLink(this, 'Contact-Facebook', 'Clicked'); return false;"><i class="icon-facebook-sign"></i></a></li>
  </ul>
</p>

<!-- Wufoo Form -->
<div id="wufoo" style="position:relative;">
  <div id="wufoo-z7x3p3">
  Fill out my <a href="http://marcusim.wufoo.com/forms/z7x3p3">online form</a>.
  </div>
  <script type="text/javascript">var z7x3p3;(function(d, t) {
  var s = d.createElement(t), options = {
  'userName':'marcusim', 
  'formHash':'z7x3p3', 
  'autoResize':true,
  'height':'540',
  'async':true,
  'header':'hide'};
  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
  s.onload = s.onreadystatechange = function() {
  var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
  try { z7x3p3 = new WufooForm();z7x3p3.initialize(options);z7x3p3.display(); } catch (e) {}};
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');</script>

  <div id="block" style="position:absolute;right:0px;top:225px;height:75px;width:100px;background:white;">
  </div>
</div>

<!-- 
<ul>
  <form action="MAILTO:marcusim@gmail.com" method="post" enctype="text/plain">
    <li>
      Name:<br>
      <input type="text" name="name" value="What should I call you?">
    </li>
    <li>
      E-mail:<br>
      <input type="text" name="email" value="How do I email you?">
    </li>
    <li>
      Company:<br>
      <input type="text" name="company" value="Where do you work?" size="50">
    </li>
    <li>
      <button type="submit" value="Send">Send</button>
    </li>
  </form>
</ul> -->