<a name='contact'></a>
<h3>Contact</h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<div id="wufoo-z7x3p3">
Fill out my <a href="http://marcusim.wufoo.com/forms/z7x3p3">online form</a>.
</div>
<script type="text/javascript">var z7x3p3;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'marcusim', 
'formHash':'z7x3p3', 
'autoResize':true,
'height':'540',
'async':true,
'header':'hide'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z7x3p3 = new WufooForm();z7x3p3.initialize(options);z7x3p3.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>


<!-- 
<ul>
  <form action="MAILTO:marcusim@gmail.com" method="post" enctype="text/plain">
    <li>
      Name:<br>
      <input type="text" name="name" value="What should I call you?">
    </li>
    <li>
      E-mail:<br>
      <input type="text" name="email" value="How do I email you?">
    </li>
    <li>
      Company:<br>
      <input type="text" name="company" value="Where do you work?" size="50">
    </li>
    <li>
      <button type="submit" value="Send">Send</button>
    </li>
  </form>
</ul> -->