<a name='pricing'></a>
<h3>Pricing</h3>
<p>
  1 hour introductory consultation: <span style="font-weight:bold;">FREE</span> (though beer never hurts).
  This includes:
  <ul>
    <li>&bull; Going over business model.</li>
    <li>&bull; Discussing previous marketing/growth plans.</li>
    <li>&bull; Planning out future plans.</li>
    <li>&bull; Whatever questions you may have for me.</li>
  </ul>
</p>
<p>
  "Basic" plan*: <span style="font-weight:bold;">$85/hr</span>.
  This includes:
  <ul>
    <li>&bull; Setting up intial campaigns (Adwords Search, Adwords Display, Facebook Ads, Bing Search).</li>
    <li>&bull; Developing baseline metrics & analytics.</li>
    <li style="font-size:12px;"> *"Basic" work is basically discounted because I like to prove myself.</li>
  </ul>
</p>
<p>
  "Pro" plan: <span style="font-weight:bold;">$100/hr</span>.
  This includes:
  <ul>
    <li>&bull; Develping, expanding, and executing marketing/growth strategy.</li>
    <li>&bull; Optimization, management, and expansion of campaigns, based on actionable dashboard.</li>
    <li>&bull; Aiding in product strategy and design.</li>
    <li>&bull; Basic design work (ads, banners, landing pages, etc.).</li>
    <li>&bull; Custom media buys.</li>
    <li>&bull; Any other work you'd want from a skilled marketer.</li>
  </ul>
</p>
<p>
  "1337" plan: <span style="font-weight:bold;">$125/hr</span>.
  This includes:
  <ul>
    <li><i class="icon-spin">&lowast;</i> Building custom marketing-automation tools for campaign creation/optimization.</li>
    <li><i class="icon-spin">&lowast;</i> Planning and building growth-hacking tools for a variety of exposed APIs.</li>
    <li><i class="icon-spin">&lowast;</i> Product collaboration and enhancement.</li>
    <li><i class="icon-spin">&lowast;</i> Any other work you'd want from a technical marketer.</li>
  </ul>
</p>
<h3>A Note on Pricing</h3>
<p>
  These prices are compensation-guidelines for my services. If you want to discuss potential alternatives to hourly compensation, whether it being equity, per-project pricing, or "favors" (jk), <a href="mailto:marcus@mlo9.com" target="_blank" onClick="trackLink(this, 'Email-Pricing', 'Clicked'); return false;">feel free to email me</a>. If you're awesome, I'm sure we can figure it out.
</p>