<a name='services'></a>
<h3>Services</h3>
<p>
  Here are some of the things I do:
  <ul>
    <li>&bull; Build/measure for baseline metrics across Google Adwords & Facebook Ads.</li>
    <li>&bull; Optimize campaigns, building analytics systems/dashboards to track performance.</li>
    <li>&bull; Build out other self-service ad platforms, like Bing Ads.</li>
    <li>&bull; Pursue, negotiate, and navigate additional media buys (online/offline).</li>
  </ul>
</p>
<p>
  Not hardcore enough for you? Here's <i class="shake-on" style="text-weight:bold;">MOAR</i>:
  <ul>
    <li><i class="icon-spin">&lowast;</i> Brand, product, and marketing strategy.</li>
    <li><i class="icon-spin">&lowast;</i> Growth-hacking tools, both currently built and custom.</li>
    <li><i class="icon-spin">&lowast;</i> UX design, input, and testing frameworks.</li>
  </ul>
</p>