<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 	
<html lang="en"> 
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />	<!-- Force Latest IE rendering engine -->
    <title>{{ page.title }}</title>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="/static/images/favicon.png" />

    <META name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <META name="description" content="Is Tonx Coffee worth it? Find out the answer to a worthy question. But the answer is YES!"> 

    <link rel="stylesheet" href="/static/css/style.css">

    <!-- GA -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22896349-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      function trackLink(link, category, action) { 
 
      try { 
      _gaq.push(['_trackEvent', category , action, link.innerHTML]); 
      } catch(err){}
       
      setTimeout(function() {
      document.location.href = link.href;
      }, 100);
      }
    </script>

    <!--[if IE 7]>
      <script src="/static/css/font-awesome-ie7.css"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">	
      <!-- Main Body Content -->
      <div style="padding-top:60px;">
      {{ content }}
      </div>
    </div>
  </body>
</html> 
